@import "../../mixins/Mixins";

.categories{
    width: 800px;
    height: 50px;
    @include flexBetween();
    @media screen and (max-width: 800px) {
        width: 600px;
    }
    @media screen and (max-width: 600px) {
        width: 325px;
        height: 80px;
        @include flexWrap();
        row-gap: 5px;
        justify-content: center;
    }
    span{
        width: 100%;
        text-align: center;
        color: red;
        font-size: 18px;
        font-family: "Century Gothic";
        font-weight: 600;
    }
    li{
        width: 100px;
        height: 100%;
        @include flexCenter();
        list-style: none;
        font-family: "Century Gothic";
        font-size: 16px;
        font-weight: 400;
        color: red;
        text-transform: capitalize;
        cursor: pointer;
        &:hover{
            font-weight: 600;
        }
        @media screen and (max-width: 800px) {
            width: 80px;
        }
        @media screen and (max-width: 800px) {
            height: 45%;
        }
    }
    li.active{
        font-weight: 600;
    }
}